
<% if @pre_start -%>
pre-start script
<%   @pre_start.each_line do |line| -%>
  <%= line -%>
<% end %>
end script
<% end %>
<% ########################## -%>
<% if @post_start -%>

post-start script
<%   @post_start.each_line do |line| -%>
  <%= line -%>
<% end %>
end script
<% end %>
<% ########################## -%>
<% if @pre_stop -%>

pre-stop script
<%   @pre_stop.each_line do |line| -%>
  <%= line -%>
<% end %>
end script
<% end %>
<% ########################## -%>
<% if @post_stop -%>

post-stop script
<%   @post_stop.each_line do |line| -%>
  <%= line -%>
<% end %>
end script
<% end %>
<% ########################## -%>
<% if @script -%>

script
<%   @script.each_line do |line| -%>
  <%= line -%>
<% end %>
end script
<% end %>
<% ########################## -%>
<% if @exec -%>

exec <%= @exec %>
<% end %>
